<!-- <ngx-loading-bar color="rgb(51, 51, 51)" [includeSpinner]="false"></ngx-loading-bar>

<ng-sidebar-container class="app" [ngClass]="{
  'mode-boxed': options.boxed,
  'sidebar-opened': options.opened,
  'theme-light': options.theme == 'light',
  'theme-dark': options.theme == 'dark',
  'mode-push': _mode == 'push',
  'mode-dock': _mode == 'dock',
  'mode-over': _mode == 'over',
  'mode-slide': _mode == 'slide',
  'no-footer': routeOptions?.removeFooter,
  'map-header': routeOptions?.mapHeader}">
  <ng-sidebar [(opened)]="options.opened" [(mode)]="_mode" [position]="'left'" [dockedSize]="'80px'"
    [autoCollapseWidth]="'991'" [closeOnClickOutside]="isOver()" [showBackdrop]="isOver()"
    [sidebarClass]="'sidebar-panel'" #sidebar>
    <app-sidebar (messageEvent)="receiveMessage($event)" (toggleSidebar)="toogleSidebar()" [mode]="options.mode">
    </app-sidebar>
  </ng-sidebar>
  <div ng-sidebar-content class="app-inner">
    <app-header (toggleSidebar)="toogleSidebar()" (openSearch)="openSearch(search)"
      (toggleFullscreen)="toggleFullscreen()" [heading]="routeOptions.heading"></app-header>
    <div class="main-content" id="cool_dash">
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </div>
  </div>
</ng-sidebar-container>
<ng-template #search let-c="close" let-d="dismiss">
  <form class="search__form" action="">
    <input class="search-input" name="search" type="search" placeholder="Search..." autocomplete="off" autocorrect="off"
      autocapitalize="off" spellcheck="false" autofocus="true" />
    <p class="text-muted"><small><strong>Hit enter to search or ESC to close</strong></small></p>
  </form>
  <div class="search-suggestions">
    <h6 class="text-uppercase"><strong>Suggestions?</strong></h6>
    <p class="text-primary">#medical #analytics #fitness #transport #ui #dashboard #admin #bootstrap #angular
      #typescript</p>
  </div>
  <button type="button" class="search-close" aria-label="Close search form" (click)="d('Cross click')">
    <i class="fi flaticon-close"></i>
  </button>
</ng-template>
<div class="configuration hidden-sm-down" [ngClass]="{'active': options.settings}">
</div> -->


<div>helllllooooooo</div>